article {
  background-image: url('images/windRiverRangeOrg.jpg');
  background-position: 0% 17%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 35vh;
  position: relative;
  width: 100%;
}

body {
  background-color: #D0D0D0;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: Arimo;
  margin: 0em;
}

button {
  background-color: #ECBEAE;
  border: .2em #FFFFFF solid;
  color: white;
  padding: 1em;
  width: 11em;
}

div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width:  100%;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

h1 {
  font-size: 1.8em;
  margin: 6% 0em 0em 0em;
  text-align: center;
} 

h1,
p {
  text-align: center;
}

h2 {
  font-size: .9em;
  text-align: center;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column-reverse;

}

p {
  margin: 0.3em;
}

section {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 21vh;
  justify-content: center;
  text-align: center;
  width: 50%;
}

.column2 {
  width: 100%;
}

.header {
  align-content: center;
  background-color: #ECBEAE;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 25vh;
  justify-content: center;
  width: 100%;
}

button:hover {
  background-color: #F3D2C5;
}

.picture {
  object-fit: contain;
  width: 100%;
}

.thumbnails {
  width: 25%;
}

.circles {
  background-color: grey;
  border-radius: 50%;
  height: .6em;
  margin-top: 1em;
  position: absolute;
  right: 0;
  top: 0;
  width: .6em;
}

.front {
  background-color: white;
  margin-right: 3em;
}

.middle {
  margin-right: 2em;
}

.last {
  margin-right: 1em;
}

.left {
  background-image: url('images/leftArrow.png');
  background-size: cover;
  border-radius: 50%;
  height: 2.5em;
  left: 1em;
  position: absolute;
  top: 46.8%;
  width: 2.5em;
}

.right {
  background-image: url('images/rightArrow.png');
  background-size: cover;
  border-radius: 50%;
  height: 2.5em;
  position: absolute;
  right: 1em;
  top: 46.8%;
  width: 2.5em;
}

.one {
  background-color: #aabac7;
  width: 100%;
}

.one:hover {
  background-color: #BEC7CE;
}

.two {
  background-color: #7590a3;
}

.two:hover {
  background-color: #8ba8bc;
}

.three {
  background-color: #f8c089;
}

.three:hover {
  background-color: #F6CDA6;
}

.four {
  background-color: #ECBEAE;
}

.four:hover {
  background-color: #f4cbbc;
}

.five {
  background-color: #4b4934;
}

.five:hover {
  background-color: #5c5940;
}

.six {
  background-color: #7590a3;
}

.six:hover {
  background-color: #8ba8bc;
}

.seven {
  background-color: #4b4934;
}

.seven:hover {
  background-color: #5c5940;
}

#bear {
  left: 27%;
  top: 26%;
  width: 45%;
}

#camping {
  left: 29%;
  top: 28%;
  width: 43%;
}

#canoe {
  left: 27%;
  top: 26%;
  width: 47%;
}

#history {
  left: 34%;
  top: 25%;
  width: 32%;
}

#learn {
  margin-right: 1em;
}

#map {
  left: 36%;
  width: 30%;
}

#plant {
  left: 34%;
  top: 15%;
  width: 40%;
}

@media (min-width: 490px) and (max-width: 900px) {
  main {
    width:  100%;
  }

  section {
    height: 22vh;
    width: 33.333%;
  }

  .column2 {
    width: 100%;
  }

  .header {
    align-items: flex-start;
    flex-wrap: wrap;
    height: 22vh;
    justify-content: center;
    padding-left: 1em;
    width: 66.6%;
  }

  .one {
    width: 33.4%;
  }

  #history {
    left: 22%;
    top: 28%;
    width: 60%;
  }
}

@media (min-width: 900px) {
  article {
    background-position: 64% 17%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  body {
    margin: 0em;
  }

  div {
    align-content: flex-start;
    width: 66.66%;
  }

  form {
  justify-content: left;
  margin-left: 6%;
  }

  h1,
  p {
    margin-left: 6%;
    text-align: left;
  }

   h2 {
    bottom: 5.2em;
  }

  main {
    flex-direction: row;
    width: 100%;
  }
  
  section {
    height: 33.33vh;
    width: 33.33%;
  }

 .column2 {
    height: 100vh;
    width: 40%;
  }

  .header {
    height: 33.33vh;
    width: 66.66%;
  }

  .one {
    width: 33.33%;
  }

  #history {
    left: 23%;
    top: 30%;
    width: 57%;
  }
}
